[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=8.1"
python-pam = "~=2.0"
six = "~=1.16"

[dev-packages]
pyinstaller = "~=6.4"

[requires]
python_version = "3"
